.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 3%;
	/* background: chocolate; */
}
.header .avater svg {
	border-radius: 50%;
}
.header .search {
    background: #f9f9f9;
    padding: 3px 13px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999;
    border-radius: 12px;
}
.header .search svg{
    margin-right: 4px;
}
.header .download {
	padding: 0 15px;
	background: #fb7299;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	border-radius: 2px;
}
