.showmask::after{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: rgba(0, 0, 0, 0.1);
	z-index: 2;
	transition: all .3s;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 3%;
    position: relative;
    z-index: 3;
    background: #fff;
	/* background: chocolate; */
}
.header .avater svg {
	border-radius: 50%;
}
.header .search {
	background: #f9f9f9;
	padding: 3px 13px;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #999;
	border-radius: 12px;
}
.header .search svg {
	margin-right: 4px;
}
.header .download {
	padding: 0 15px;
	background: #fb7299;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	border-radius: 2px;
}


.show-nav {
	position: relative;
	white-space: nowrap;
	border-bottom: 1px solid #e7e7e7;
}

.show-nav .navlist {
	overflow-x: auto;
	margin-right: 10%;
}
.show-nav .navlist::-webkit-scrollbar {
	display: none;
}
.show-nav .nav {
	display: inline-block;
	line-height: 40px;
	font-size: 14px;
    margin: 0 16px;
}
.show-nav .rightdown {
	position: absolute;
	right: 7px;
	top: 13px;
}

.hide-nav {
    padding-top: 10px;
    transform: translateY(-199px);
	background: #fff;
    transition: transform .3s;
}

.hide-nav.transformshow{
    transform: translateY(-41px);
    position: relative;
    z-index: 5;
}

.hide-nav .navlist {
	text-align: center;
}
.hide-nav .nav {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
    display: inline-block;
    margin: 0 18px 5px;
}

.hide-nav .bottomdown{
	text-align: center;
	padding: 5px 0;
}
.navlist .active{
	color: #fb7299;
	border-bottom: 1px solid #fb7299;
}
